<template>
    <Header />
    <main2>
    <div class="a">
        <div class="top d-flex">
            <h4 style=" margin-right: 20px; margin-left: 20px;">Back</h4>
            <input style=" margin-right: 20px; margin-left: 20px;" type="text" class="search" placeholder="Search by plant name, Genus or Species" />
            <button style=" margin-right: 20px; margin-left: 20px;" type="button" class="btns">Search</button>
        </div>
        <div class="contents d-flex">
            <div class="leftside">
                <div class="fame">
                    <Img class="img"
                        src="https://www.gardendesign.com/pictures/images/675x529Max/site_3/helianthus-yellow-flower-pixabay_11863.jpg"
                        style="max-width: 25rem;"></Img>
                </div>
            </div>
            <div class="rightside">
                <article class="scroller">
                    <section>
                        <h2>Section one</h2>
                        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
                            spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
                            desert raisin horseradish spinach carrot soko.</p>
                    </section>
                    <section>
                        <h2>Section two</h2>

                        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
                            spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
                            desert raisin horseradish spinach carrot soko.</p>
                    </section>
                    <section>
                        <h2>Section three</h2>

                        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
                            spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
                            desert raisin horseradish spinach carrot soko.</p>
                    </section>
                    <section>
                        <h2>Section four</h2>

                        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
                            spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
                            desert raisin horseradish spinach carrot soko.</p>
                    </section>
                    <section>
                        <h2>Section five</h2>

                        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
                            spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion
                            desert raisin horseradish spinach carrot soko.</p>
                    </section>
                </article>
            </div>
        </div>
    </div>
    </main2>
    <Footer />
</template>

<script>
import Header from '../components/header.vue'
import Footer from '../components/footer.vue'
export default {
    name: 'Detail',
    components: {
        Header,
        Footer
    }
}
</script>

<style src="../css/Detail.css">
</style>