<script>

import Header from '../components/header.vue'
import Footer from '../components/footer.vue'
export default {
  components: {
    Header,
    Footer
  }
}
</script>

<template>

  <main>
    <Header />
    <div class="container-fluid bg-white white-box" style="height: 3rem" >

    </div>

      <div class="img-logo"><img src="../assets/Logobnc.png" alt="" width="150px"></div>
      <div class="boxes">
        <div class="database">
          <h1>ฐานข้อมูลตัวอย่างพรรณไม้</h1>
          <p>สวนพฤกษศาสตร์มหาวิทยาลัยแม่ฟ้าหลวง เฉลิมพระเกียรติ 80 พรรษา มหาราช <br>
            Mae Fah Luang  Bontanical Garden Herbarium Database </p>

          <div class="d-flex flex-column input-box">
           <input type="text" placeholder="MFLU No.">
             <input type="text" placeholder="Sclentific name">
            <select>
              <option value="" disabled selected>Family name</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
             <input type="text" placeholder="Local name">
             <input type="text" placeholder="Collector">
          </div>
        </div>
      </div>


    <div class="container-fluid bg-white white-box" >
    </div>


<div class="container-fluid bg-white" >
  <div class="navigate">
    <a href="/PlantDatabase">
      <div class="clickable-box1 mx-5 pt-4">
        <div class="box">
          <h2 class="txtplant">ฐานข้อมูลพรรณไม้</h2>
          <h2 class="txtplant">Plant Database</h2>
        </div>
      </div>
    </a>
    <div class="vl"></div>
    <div class="clickable-box2 mx-5 pt-4">
      <div class="box">
        <h2 class="txtplant">ฐานข้อมูลตัวอย่างพรรณไม้</h2>
        <h2 class="txtplant">Hebarium Database</h2>
      </div>
    </div>
  </div>
</div>



    <Footer/>
  </main>

</template>

<style >
h1{
  padding: 15px;
}
p{
  line-height: 23px;
  font-size: 16px;
}
input, select{
  text-align: center;
  width: 20rem;
  height: 2rem;
  border-radius: 40px;
  border: 1px solid #ccc;

}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input,
.input-box select {
  margin-bottom: 10px; /* เพิ่มระยะห่างระหว่าง elements */
}
.input-box {
  display: grid;
  grid-template-columns: 1fr; /* กำหนดคอลัมน์เป็น 1 คอลัมน์ */
  grid-row-gap: 10px; /* เพิ่มระยะห่างระหว่าง elements */
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
  text-align: center;
}
.vl {
  border-left: 6px solid green;
  height: 75px;
}



</style>