<template>
    <Header />
    <main>
        <div class="content d-flex  justify-content-center align-items-end">
      <a href="/PlantDatabase" class="clickable-boxes1 mx-5">
        <div class="box">
          <h2 class="txtplant">ฐานข้อมูลพรรณไม้</h2>
          <h2 class="txtplant">Plant Database</h2>
        </div>
      </a>
      <a href="/HerbariumDatabase" class="clickable-boxes2  mx-5">
        <div class="box">
          <h2 class="txtplant">ฐานข้อมูลตัวอย่างพรรณไม้</h2>
          <h2 class="txtplant">Hebarium Database</h2>
        </div>
      </a>



    </div>
    </main>
    <Footer />
</template>

<script>
import Header from '../components/header.vue'
import Footer from '../components/footer.vue'
export default {
    components: {
        Header,
        Footer
    }
}
</script>
 <style src="../css/Home.css"></style>
<style>
</style>