<template>
    <Header />
    <main>
        <div>
            <div class="boxes">
                <div class="database">
                    <h1>ฐานข้อมูลพรรณไม้</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, iste?</p>
                    <div class="d-flex flex-column">
                        <input type="text" class="search" placeholder="Search by plant name, Genus or Species" />
                        <button class="button-20" role="button" @click="search()">Search</button>
                    </div>
                </div>
            </div>

            <div class="navigate">
                <a href="/PlantDatabase">
                    <div class="clickable-box1 mx-5">
                    </div>
                </a>
                <div class="vl"></div>
                <div class="clickable-box2 mx-5">

                </div>
            </div>

        </div>
    </main>
    <Footer />
</template>

<script>
import Header from '../components/header.vue'
import Footer from '../components/footer.vue'

export default {
    name: 'PlantDatabase',
    components: {
        Header,
        Footer
    },
    methods: {
        search() {
            let box = '';
            box += `       <div class="database2">
            <div class="d-flex">
              <h3 class="mt-3 mx-3">ฐานข้อมูลพรรณไม้</h3>
              <input type="text" class="search mt-3 mx-3" placeholder="Search by plant name, Genus or Species" />
              <button type="button" class="btn btn-success mt-3 mx-3" v-on:click="search()">Button</button>
            </div>
            <div class="">
              <table>
              <tr>
                <th>No.</th>
                <th>Thai Name</th>
                <th>Other Name</th>
                <th>Scientific Name</th>
                <th>Family Name</th>
              </tr>
              <tr onclick="window.location='/PlantDatabase/Detail';">             
                <td>1</td>      
                <td>สาละ</td>
                <td>สาละอินเดีย</td>
                <td>Shorea robusta C.F.Gaertn</td>
                <td>Dipterocarpaceae</td>
              </tr> 
              <tr onclick="window.location='/PlantDatabase/Detail';">
                <td>1</td>
                <td>สาละ</td>
                <td>สาละอินเดีย</td>
                <td>Shorea robusta C.F.Gaertn</td>
                <td>Dipterocarpaceae</td>
              </tr>
              <tr onclick="window.location='/PlantDatabase/Detail';">
                <td>1</td>
                <td>สาละ</td>
                <td>สาละอินเดีย</td>
                <td>Shorea robusta C.F.Gaertn</td>
                <td>Dipterocarpaceae</td>
              </tr>
            </table>
            </div>
          </div>`

            document.querySelector('.boxes').innerHTML = box;
        }
    }
}
</script>

<style src="../css/PlantDatabase.css">

</style>