<template>
    <footer>
        <div class="d-flex flex-row">
          <div>
            <p>
              ติดต่อเรา <br>
              สวนฟฤกษศาสตร์มหาวิทยาลัยแม่ฟ้าหลัง เฉลิมพระเกียรติ 80 พรรษา มหาราช 333 ม.1 ต.ท่าสุด อ.เมือง จังหวัด เชียงราย 57100 <br>
              โทรศัพท์ 0 5391 6470 อีเมล: bontanical@mfu.ac.th
            </p>
          </div>
          <div>
            <p>
              Contact Us <br>
              Mae Fah Luang Unversity Botanical Garden 333 Moo 1 Thasud Subdistrict, Mueang District, Chiang Rai Province 57100 Thailand <br>
              Tel 0 5391 6470 Email: bontanical@mfu.ac.th
            </p>
          </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'Footer',
    data() {
        return {
            title: 'Botanical'
        }
    }
}
</script>

<style scoped>
footer {
    background-color: #13564B;
    height: 100px;
    text-align: left;
    color: white;


}
p{
  margin: 10px;
  padding: 10px;
  font-size: 13px;
}
</style>