<template>
    <header>
        <div class="d-flex flex-row">
            <img src="../assets/Logobnc.png" alt="Logo" width="50" height="50" class=" d-inline-block align-text-top">
            <span class="txtNav">สวนพฤกษศาสตร์มหาวิยาลัยแม่ฟ้าหลวง เฉลิมพระเกียรติ 80 พรรษา <br> Mae Fah Luang University Botanical Garden</span>
        </div>
        
    </header>
</template>

<script>
export default {
    name: 'Header',
    data() {
        return {
            title: 'Botanical'
        }
    }
}
</script>

<style scoped>
header {
    background-color: #13564B;
    padding: 5px;
    height: 70px;
    text-align: left;
    color: white;
}
</style>