main2 {
    background-size: cover;
    height: 100vh;
    opacity: 90%;
    background-repeat: no-repeat;
    /* background-image: url('https://scontent.fcnx2-1.fna.fbcdn.net/v/t31.18172-8/29665563_1858230617577105_8039267215875985250_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=300f58&_nc_ohc=vOArOoJ0D9IAX9QzRZw&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfB6Iz2JrIqry5yda7c1ISFP99ILXfo4m-PcSDBNQYtrZw&oe=657602C5'); */
}

.a {
    margin-bottom: 3%;
    margin-top: -2.9% ;
    
}

.btns {
    font-size: 15px;
    align-self: center;
    border-radius: 40px;
    background-color: #13564B;
    color: white;
    opacity: 1;
    margin-bottom: 20px;
}

.search {
    margin-top: -20px;
    align-self: center;
    height: 40px;
    border-radius: 30px;
    width: 25rem;
    opacity: 100%;
    text-align: center;
    background-color: white;
}

.rightside {
    margin: 3rem 2rem 0 2rem;
}

.scroller {
    height: 500px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}

.img {
    border-radius: 40px;
    cursor: zoom-in;
}

.fame {
    margin: 3rem 0 0 3rem;

}

.contents {
    width: 70rem;
    height: 40rem;
    background-color: #DCE6E4;
    margin: 0 auto;
    margin-top: 0%;
    border-radius: 50px;

}

.top {
    padding-top: 7%;
    justify-content: center;

}