@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

main {
  background-size: cover;
  height: 90vh;
  opacity: 90%;
  background-repeat: no-repeat;
  background-image: url('https://scontent.fcnx2-1.fna.fbcdn.net/v/t31.18172-8/29665563_1858230617577105_8039267215875985250_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=300f58&_nc_ohc=vOArOoJ0D9IAX9QzRZw&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfB6Iz2JrIqry5yda7c1ISFP99ILXfo4m-PcSDBNQYtrZw&oe=657602C5');
}
 .txtplant{
  font-family: 'Prompt', sans-serif;
    text-align: center;
    color: #13564B;
    text-decoration: solid;
    font-weight: 900;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
     line-height: 15px;
  }
.clickable-boxes1 {
    width: 450px;
    height: 250px;
    background-image: url('https://media.wired.com/photos/5d8aab8bef84070009028d31/master/pass/Plant-Music-1162975190.jpg');
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    border-radius: 40px;
    cursor: pointer;
    border: solid;
    border-color: #13564B;
    background-size: cover;

}
.clickable-boxes2 {
  width: 450px;
  height: 250px;
  background-image: url('https://museum.wales/media/44287/thumb_1600/2018-02-02-032.jpg');
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  border-radius: 40px;
  cursor: pointer;
  border: solid;
  border-color: #13564B;
  background-size: cover;

}

.clickable-boxes2 ,.clickable-boxes1 {
  margin-top: 20%;
}
.clickable-boxes2:hover ,.clickable-boxes1:hover{
  box-shadow: 1px 1px 1px 1px black;
}
