main {
    background-size: cover;
    height: 100vh;
    opacity: 90%;
    background-repeat: no-repeat;
    background-image: url('https://scontent.fcnx2-1.fna.fbcdn.net/v/t31.18172-8/29665563_1858230617577105_8039267215875985250_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=300f58&_nc_ohc=vOArOoJ0D9IAX9QzRZw&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfB6Iz2JrIqry5yda7c1ISFP99ILXfo4m-PcSDBNQYtrZw&oe=657602C5');
}

.clickable-box1 {
    width: 450px;
    height: 100px;
    background-image: url('https://media.wired.com/photos/5d8aab8bef84070009028d31/master/pass/Plant-Music-1162975190.jpg');
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    border-radius: 40px;
    cursor: pointer;
    border: solid;
    border-color: #13564B;
    background-size: cover;
}

.navigate {
    /*margin-bottom: -20%;*/
    /*display: flex;*/
    /*text-align: center;*/
    /*margin: 5% auto;*/
    /*justify-content: center;*/
    /*margin-bottom: -10%;*/
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */

}
.boxes{
    padding-top: 2%;
    padding-bottom: 3%;
}
.clickable-box2 {
    width: 450px;
    height: 100px;
    background-image: url('https://museum.wales/media/44287/thumb_1600/2018-02-02-032.jpg');
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    border-radius: 40px;
    cursor: pointer;
    border: solid;
    border-color: #13564B;
    background-size: cover;


}

.clickable-box1:hover,
.clickable-box2:hover {
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.search {
    margin-top: -20px;
    align-self: center;
    height: 40px;
    border-radius: 30px;
    width: 25rem;
    opacity: 100%;
    text-align: center;
    background-color: white;
}

.database {
    width: 600px;
    height: auto;
    background-color: black;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    /* display: block; */
    margin: auto;
    padding-bottom: 15px;
    border-radius: 40px;
    opacity: 80%;

}

.database2 {
    width: 1000px;
    height: 500px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    display: block;
    margin: -5% auto;
    border-radius: 40px;
    opacity: 80%;
    
}
th, td {
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 50px;
    cursor: pointer;
  }


/* CSS */
.button-20 {
    appearance: button;
    background-color: #13564B;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 3px solid #ffffff;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 10rem;
    align-self: center;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
    outline: 0;
}

.button-20:hover {
    background-color: #13564B;
    border-color: #565568;
}

.button-20:focus {
    background-color: #13564B;
    border-color: #565568;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, #565568 .2rem;
}

.button-20:active {
    background-color: #13564B;
    background-image: none;
    border-color: #565568;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
    box-shadow: rgba(59, 63, 77, 0.125) 0 3px 5px inset, #565568 .2rem;
}

.button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}


.img-logo{
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */

}

.vl {
    border-left: 6px solid #13564B;
    height: 75px;
}